.containerBar {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 80px;
  padding: 0 3rem;
  background: #010101;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .containerSearch {
    width: 50%;

    .searchBar {
      width: 50%;
      height: 40px;
      padding-left: 1rem;
      margin-right: 1rem;
      border-radius: 5px;
    }

    .searchButton {
      appearance: none;
      background: #4a4a4a;
      height: 100px;
      color: #fff;
      font-weight: 600;
      height: 40px;
      padding: 10.5px 1rem;
      border-radius: 5px;
      transition: 0.3s all ease;
    }

    .searchButton:hover {
      background: #bc2c1a;
    }
  }

  .buttonsGroup {
    display: flex;
    .containerFavorite,
    .currentPath {
      background: #4a4a4a;
      color: #fff;
      margin-left: 1rem;
      padding: 10.5px;
      border-radius: 5px;
      cursor: pointer;

      .icon {
        margin-right: 0.5rem;
      }
    }

    .currentPath {
      background: #bc2c1a;
    }
  }
}
